header{
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    box-sizing: b-box;
    text-align: left;
    background-color: yellow;

}

.container2{
    box-sizing: border-box;
    position: relative;
    display: flex;
    width: 100%;
    margin: 0;
    background-color: red;
    vertical-align: middle;
}
.containerlogo{
    display: flex;
    position: relative;
    width: 100%;
    
}
.containerbarra{
    display: flex;
    position: relative;
    padding-left: 25%;
    align-items: center;
}
.containerinput{
    display: block;
    position: relative;
    text-align: center;
    align-items: center;
    width: 600px;
    float: left;
}
.containericon{
    margin-left: 40px;
    position: relative;
    float: right;
}