.a::placeholder{
    color: #68411d;
  }
  .a:focus{
    outline: none;
  }
  .animated-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #68411d;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px;
    border: 2px solid #68411d;
    position: relative;
    overflow: hidden;
    z-index: 1;

  }

  .animated-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4c6b5;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.6s ease;
    z-index: -1;
  }
  .animated-button:hover{
    color: #68411d;
    transform-origin: left right;
    transition-duration: 0.5s;
  }
  .animated-button:hover:before {
    transform: scaleX(1);
    transition-duration: 0.5s;
    transform-origin: right left;

  }
  .animated-word{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .letter{
    transition: 0.5s;
    transform: translateX(0);
    cursor: grab;
    color: #68411d;
  }
  .letter:hover{
    transform: translateY(-1rem);
    background: -webkit-linear-gradient(120deg, hsl(19, 86%, 72%), hsl(32, 44%, 43%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .dropdown {
    position: relative; /* Establece el contenedor como posición relativa */
  }
  .dropdown-menu {
    display: none; /* Oculta el menú por defecto */
    position: absolute; /* Asegura una posición absoluta para el menú */
    top: 100%; /* Posiciona el menú debajo del botón */
    left: 0;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block; /* Muestra el menú al pasar el mouse por encima del contenedor */
  }
  .dropdown.open .dropdown-menu {
    display: block; /* Muestra el menú cuando el dropdown está abierto */
  }
  .dropdown-item:hover{
    border: 1px solid #68411d;
    background: none;
  }
  .animated-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #68411d;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px;
    border: 2px solid #68411d;
    position: relative;
    overflow: hidden;
    z-index: 1;

  }

  .animated-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d4c6b5;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.6s ease;
    z-index: -1;
  }
  .animated-button:hover{
    color: #68411d;
    transform-origin: left right;
    transition-duration: 0.5s;
  }
  .animated-button:hover:before {
    transform: scaleX(1);
    transition-duration: 0.5s;
    transform-origin: right left;

  }




  .animateda-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #68411d;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px;
    border: 2px solid #68411d;
    position: relative;
    overflow: hidden;
    z-index: 1;

  }

  .animateda-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e7e1d8;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.6s ease;
    z-index: -1;
  }
  .animateda-button:hover{
    color: #68411d;
    transform-origin: left right;
    transition-duration: 0.5s;
  }
  .animateda-button:hover:before {
    transform: scaleX(1);
    transition-duration: 0.5s;
    transform-origin: right left;

  }
  .zoom-image {
    transition: transform 0.3s ease;
  }

  .zoom-image:hover {
    transform: scale(1.2);
  }
  .animatedd-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #68411d;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px;
    border: 2px solid #68411d;
    position: relative;
    overflow: hidden;
    z-index: 1;

  }

  .animatedd-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcf9f5;
    transform: scaleX(0);
    transform-origin: top center;
    transition: transform 0.6s ease;
    z-index: -1;
  }
  .animatedd-button:hover{
    color: #68411d;
    transform-origin: top bottom;
    transition-duration: 0.5s;
  }
  .animatedd-button:hover:before {
    transform: scaleX(1);
    transition-duration: 0.5s;
    transform-origin: top bottom;

  }



  .animatede-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #cc2727;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px;
    border: 2px solid #cc2727;
    position: relative;
    overflow: hidden;
    z-index: 1;

  }

  .animatede-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fcf9f5;
    transform: scaleX(0);
    transform-origin: top center;
    transition: transform 0.6s ease;
    z-index: -1;
  }
  .animatede-button:hover{
    color: #cc2727;
    transform-origin: top bottom;
    transition-duration: 0.5s;
  }
  .animatede-button:hover:before {
    transform: scaleX(1);
    transition-duration: 0.5s;
    transform-origin: top bottom;
  }

  .animatedm-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #0b5ed7;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    border-radius: 10px 10px;
    border: 2px solid #0b5ed7;
    position: relative;
    overflow: hidden;
    z-index: 1;

  }
  .animatedm-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: top center;
    transition: transform 0.6s ease;
    z-index: -1;
  }
  .animatedm-button:hover{
    color: #0b5ed7;
    transform-origin: top bottom;
    transition-duration: 0.5s;
  }
  .animatedm-button:hover:before {
    transform: scaleX(1);
    transition-duration: 0.5s;
    transform-origin: top bottom;
  }