{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}
<div class="wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> {{titulo}} </h3>
            </div>
  <div class="card-body">
<table id="example1"  class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Venta</th>
      <th>Estado</th>

      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for detalle_venta in detalle_ventas %} {% if detalle_venta.estado != "0" %}
    <tr>
      <td>{{detalle_venta.nombre}}</td>
      <td>{{detalle_venta.cantidad}}</td>
      <td>{{detalle_venta.venta}}</td>
      <td>{{detalle_venta.get_estado_display}}</td>




      <td>
        <button  type="button" data-ident="{{detalle_venta.id}}" class="btnEliminar btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#modalConf">
                    Eliminar</button>
        <a class="btn btn-primary" href="{% url 'detalle_venta-modificar' detalle_venta.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content -->
<a href="{% url 'detalle_venta-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
</div>
{% endblock contenido %}
