{% extends 'partials/body.html' %} {% load static %} {% block contenido %}
<div class="wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> {{titulo}} </h3>
            </div>
  <div class="card-body">
<table id="example1"  class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Unidades</th>
      <th>Medida</th>
      <th>Estado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for unidad in unidades %} {% if unidad.estado != "0" %}
    <tr>
      <td>{{unidad.unidades}}</td>      
      <td>{{unidad.get_medida_display}}</td>
      <td>{{unidad.get_estado_display}}</td>

      <td>
        <button  type="button" data-ident="{{unidad.id}}" class="btnEliminar btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#modalConf">
                    Eliminar</button>
        <a class="btn btn-primary" href="{% url 'unidades-modificar' unidad.id %}"
          >Modificar</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content -->
<a href="{% url 'unidades-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
</div>
{% endblock contenido %}
