{% extends 'partials/body.html' %} {% block contenido %}
<a href="{% url 'venta-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
<a href="{% url 'metododepago' %}" class="btn btn-success w-25"
  >Metodo de pago</a
>
<a href="{% url 'domicilio' %}" class="btn btn-success w-25">Domicilio</a>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>ID Usuario</th>
      <th>ID Método de pago</th>
      <th>ID Domicilio</th>
      <th>ID Usuario Domicilio</th>

      <th>Estado</th>

      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for venta in ventas %} {% if venta.estado != "0" %}
    <tr>
      <td>{{venta.fecha}}</td>
      <td>{{venta.usuario}}</td>
      <td>{{venta.idmetododepago}}</td>
      <td>{{venta.domicilio}}</td>
      <td>{{venta.domicilio.usuario}}</td>
      <td>{{venta.get_estado_display}}</td>
      <td>
        <button  type="button" data-ident="{{venta.id}}" class="btnEliminar btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#modalConf">
                    Eliminar</button>
        <a class="btn btn-primary" href="{% url 'venta-modificar' venta.id %}"
          >+</a
        >
      </td>
    </tr>
    {% endif %} {% endfor %}
  </tbody>
</table>
{% endblock contenido %}
