{% extends 'partials/body.html' %} {% load static %}  {% block contenido %}
<div class="wrapper">
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title"> {{titulo}} </h3>
            </div>
  <div class="card-body">
<table id="example1"  class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de Inicio</th>
      <th>Valor</th>
      <th>Estado</th>
      <th>Acciones</th>


    </tr>
  </thead>
  <tbody>
    {% for cuentapendiente in cuentaspendientes %} 
    {% if cuentapendiente.estado != "0" %}
      <tr>
        <td>{{cuentapendiente.nombre}}</td>
        <td style="color: #68411d; text-align: center;">{{cuentapendiente.nombre_producto}}</td>
        <td>{{cuentapendiente.fecha_inicio}}</td>
        <td>{{cuentapendiente.valor}}</td>
        <td>{{cuentapendiente.get_estado_display}}</td>

        <td>
          <button  type="button" data-ident="{{cuentapendiente.id}}" class="btnEliminar btn btn-danger"
                    data-bs-toggle="modal" data-bs-target="#modalConf">
                    Eliminar</button>
          <a
            class="btn btn-primary"
            href="{% url 'cuenta_pendiente-modificar' cuentapendiente.id %}"
            >+</a
          >
        </td>
      </tr>
      {% endif %} 
    {% endfor %}
  </tbody>
</table>
</div>
<!-- /.card-body -->
</div>
<!-- /.card -->
</div>
<!-- /.col -->
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->
</section>
<!-- /.content -->
<a href="{% url 'cuenta_pendiente-crear' %}" class="btn btn-success w-25"
  >Crear {{titulo}}</a
>
</div>
{% endblock contenido %}
